{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>My Account</title>
{% endblock title %}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% block content %}
<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                    data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading">Menu</li>
                <li class="mm-active">
                    <a href="/dashboard/">
                        <i class="metismenu-icon pe-7s-rocket"></i>Dashboards
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li class="mm-active">
                            <a href="/my_account/">
                                <i class="metismenu-icon"></i>My Account
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-browser"></i>Employees
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="/add_employee/">
                                <i class="metismenu-icon"></i>Add Employee
                            </a>
                        </li>
                        <li>
                            <a href="/employee_table/">
                                <i class="metismenu-icon"></i>Employee Table
                            </a>
                        </li>
                        <li>
                            <a href="/login_history/">
                                <i class="metismenu-icon"></i>Employee Login History
                            </a>
                        </li>
                        <li>
                            <a href="/attendance/">
                                <i class="metismenu-icon"></i>Employee Attendance
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-browser"></i>Gasolines
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="/add_gasoline/">
                                <i class="metismenu-icon"></i>Add Gasolines
                            </a>
                        </li>
                        <li>
                            <a href="/manage_gasoline/">
                                <i class="metismenu-icon"></i>Manage Gasolines
                            </a>
                        </li>
                        <li>
                            <a href="/gas_delivery/">
                                <i class="metismenu-icon"></i>Gas Delivery
                            </a>
                        </li>
                        <li>
                            <a href="/gas_transaction/">
                                <i class="metismenu-icon"></i>Gas Transactions
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-browser"></i>Items
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="/add_item/">
                                <i class="metismenu-icon"></i>Add Item
                            </a>
                        </li>
                        <li>
                            <a href="/manage_item/">
                                <i class="metismenu-icon"></i>Manage Items
                            </a>
                        </li>
                        <li>
                            <a href="/item_transaction/">
                                <i class="metismenu-icon"></i>Item Transactions
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-browser"></i>Expenses
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="/manage_expenses/">
                                <i class="metismenu-icon"></i>Manage Expenses
                            </a>
                        </li>
                        <li>
                            <a href="/expenses_transaction/">
                                <i class="metismenu-icon"></i>Expenses Transactions
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-plugin"></i>Reports
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="/reports/">
                                <i class="metismenu-icon"></i>Daily Totals
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="app-main__outer">
    <div class="app-main__inner">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for ad in users %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <img class="rounded-circle" src="{{ ad.profile_pic.url }}" width="80">
                                <br>
                                {{ form.profile_pic }}
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.user_type|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.email|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form.middle_name|as_crispy_field }}
                                
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.birth_date|as_crispy_field }}
                                
                            </div>
                            <div class="form-group col-md-4">

                                {{ form.gender_type|as_crispy_field }}
                                
                            </div>
                            <div class="form-group col-md-2">
                                {{ form.age|as_crispy_field }}
                                
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.height_cm|as_crispy_field }}
                                
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.weight_kl|as_crispy_field }}
                                
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.address|as_crispy_field }}
                            
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck" required>
                                <label class="form-check-label" for="gridCheck">
                                    Confirm
                                </label>
                            </div>
                        </div>
                        <button type="submit" id="btnSave" name="btnSave" class="btn btn-primary">Save Account</button>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>